In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [20]:
test=pd.read_csv('C:/Users/Aleem Ali/afan/test_sequences.csv')
train= pd.read_csv("C:/Users/Aleem Ali/afan/train_sequences.csv")
data.head()

   seq. #  label
0       1      0
1       2      0
2       3      0
3       4      0
4       5      0

In [21]:
y_train=train.label
x_train=train.drop('label',axis=1)
y_test=test.label
x_test=test.drop('label',axis=1)

In [14]:
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
#x_train.head()

      seq. #
5994    5995
6295    6296
617      618
4273    4274
1282    1283

In [15]:
#x_train.shape

(11447, 1)

In [22]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [23]:
from sklearn.linear_model import LinearRegression
clf=LinearRegression()

In [24]:
clf.fit(x_train,y_train)

LinearRegression()

In [39]:
print(clf.predict(x_train))
print(y_train.values)

[0. 0. 0. ... 0. 0. 0.]
[0 0 0 ... 0 0 0]

In [45]:
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score
pred=clf.predict(x_train)
print('Train_Accuracy: ', accuracy_score(y_train,pred))

Train_Accuracy:  1.0

In [46]:
print('Predicted value: ',clf.predict(x_test))
#Print Actual Label
print('Actual value: ',y_test.values)

Predicted value:  [0. 0. 0. ... 0. 0. 0.]
Actual value:  [0 0 0 ... 0 0 0]

In [47]:
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score
pred = clf.predict(x_test)
print('Test_Accuracy: ', accuracy_score(y_test,pred))

Test_Accuracy:  1.0